body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

/** HEADER **/
#header-nav {
    background-color: #0e3552;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/profile-foto-large.png') no-repeat;
    width: 84px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

#logo-imgsmall {
    
}

.navbar-brand h1 { 
    font-family: 'Lora', serif;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { 
    color: #fff;
    text-transform: uppercase;
    font-size: .9em;
    margin-top: 15px;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #fff;
    text-align: center;
}

    #nav-list a:hover {
        background: #6c98b9;
    }

    #nav-list a span {
        font-size: 1.8em;
    }

#phone {
margin-top: 5px;
}

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0;
}

#phone div { /*Contact me */
    color: #fff;
    text-align: right;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fff;
}

.navbar-header button.navbar-toggle {
clear: both;
margin-top: -40px;
}
/* END HEADER */

/* HOME PAGE */
.container {
    box-shadow: 0 0 50px #0e3552;
    border: 2px solid #0e3552;
    font-style: italic;
    color: black;
    text-align: justify;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
/* Header */
    #photo-small {
        position: static;
        background: url('../images/profile-foto-large.png') no-repeat;
        width: 84px;
        height: 150px;
        margin: 10px 10px -80px;
    }

    .navbar-brand h1 {
        margin-left: 110px;
    }

    .navbar-brand p {
        margin-left: 110px;
    }
/* End Header */

    .container .jumbotron {
        background-color: #6c98b9;
        height: 558px;
    }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #photo-small {
        position: relative;
        background: url('../images/profile-foto-small.png') no-repeat;
        width: 56px;        
        height: 100px;
        margin: 50px auto 5px;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 70px;
    }

        .navbar-brand h1 { /* Name */
            font-size: .9em;
            padding-top: 10px;
        }

        .navbar-brand p {
            font-size: .6em;
            margin-top: 12px;
        }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

        #collapsable-nav a span { /* Collapsed nav menu glyph */
            font-size: 1em;
            margin-right: 5px;
        }

    #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #fff;
        background-color: #c0d9d9;
        color: #951c49;
    }

    #photo-small {
        position: relative;
        background: url('../images/profile-foto-small.png') no-repeat;
        width: 56px;
        height: 100px;
        margin: 0 auto 10px;
    }

    #xs-ContactMe {
        margin-top: 5px;
        font-size: .7em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    /* End Header */
}

/* Footer */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #0e3552;
  border-top: 0;
  color: white;
}
    .panel-footer div.row {
        margin-bottom: 35px;
        color: white;
    }

#hours, #address {
  line-height: 2;
}

#hours > span, #address > span {
  font-size: 1.3em;
}
    #address p {
        font-size: .8em;
        line-height: 1.8;
        color: white;
    }

#testimonials {
    font-style: italic;
    color: white;
}

    #testimonials p:nth-child(2) {
        margin-top: 25px;
        color: white;
    }

.text-center {
    color: white;
}
/* End Footer */

